<div class="navbar-fixed">
  <nav class="blue darken-3" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#!" class="brand-logo"><%= image_tag("in loop logo.png") %></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">View</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Logout</a></li>
        </ul>

        <ul id="mobile-demo" class="side-nav">
          <li><a href="#">View</a></li>
          <li><a href="#">Calendar</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<br><br><br>
<div id="calendar"></div>
<br><br>
<footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="white-text">In-Loop Bio</h5>
        <p class="grey-text text-lighten-4">An appointment based application for healthcare providers that allows them to anticipate the estimated time of arrival of individual patients with same day appointments. It allows patients to display their ETA prior to their appointment , hence confirming their visit, which allows healthcare providers to improve patient experience and operational efficiency with better clinical workflow and help reduce check-in time and waiting time drastically.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>




