<div class="navbar-fixed">
  <nav class="blue darken-3" role="navigation">
    <div class="container">
      <div class="nav-wrapper"><a id="logo-container" href="#!" class="brand-logo"><%= image_tag("in loop logo.png") %></a>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right hide-on-med-and-down">
          <li><%= link_to 'View', doctor_path(current_doctor.id) %></li>
          <li><%= link_to 'Calendar', doctors_path %></li>
          <li><%= link_to "logout", destroy_doctor_session_path, method: :delete, :class => 'navbar-link', id: "logout" %></li>
        </ul>

<br><br>

