// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: radial-gradient(#fafafa, #bdbdbd, #616161); // doctor show page
  font-size: 62.5%;
}
label, input {
  display:block;
}
input.text {
  margin-bottom:12px; width:95%; padding: .4em;
}
fieldset {
  padding:0; border:0; margin-top:25px;
}
h1 {
  font-size: 1.2em; margin: .6em 0;
}
div#users-contain {
  width: 350px; margin: 20px 0;
}
div#users-contain table {
  margin: 1em 0; border-collapse: collapse; width: 100%;
}
div#users-contain table td, div#users-contain table th {
  border: 1px solid #eee; padding: .6em 10px; text-align: left;
}
.ui-dialog .ui-state-error {
  padding: .3em;
}
.validateTips {
  border: 1px solid transparent; padding: 0.3em;
}

#calendar{
  font-size: 12px;
}

#arrived_checkbox{
  width: 3rem;
  background-color: green;
}
#arrived_checkbox {
  width: 1rem;
}
.checkedIn {
  font-size: 14px;
}
.enRoute {
  font-size: 14px;
}
.laterAppt {
  font-size: 14px;
}
.Completed {
  font-size: 14px;
}
