<div class="row left">
  <%= link_to " I'm a Patient ", p_omniauth_patients_path, method: :get, id: "download-button", class: "btn-large waves-effect waves-light red" %>
</div>
<div class="row right">
<%= link_to " I'm a Provider ", d_omniauth_doctors_path, method: :get, id: "download-button", class: "btn-large waves-effect waves-light red" %>
</div>
