<!DOCTYPE html>
<html>
<head>
  <title>GALabProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1> Irrelevant HoneyBadgers </h1>
  <h1> Honey Badger Don't Give a Shit </h1>
  <img src="http://www.quickmeme.com/img/35/350a452a2f772202cdbd74e865e40fd853fdbfdc5533ff69f8bb26fa8702101e.jpg">
  <iframe width="425" height="349" src="http://www.youtube.com/embed/4r7wHMg5Yjg" frameborder="0" allowfullscreen=""></iframe>

<%= yield %>

</body>
</html>
