<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1> Welcome to In-Loop </h1>
  <h1> Find out how you can cut-down your waiting time at your doctors office </h1>
  <label> Email: </label>
  <input type="text">

<%= yield %>

</body>
</html>
